# Dependencies
node_modules/

# Angular cache and build outputs
.angular/
dist/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Editor
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
